@import "../../index.scss";

.card {
  width: 420px;
  border-radius: 8px;
  background-color: $cardBg;
  padding: 10px 10px 0 10px;
  margin-top: 24px;
  position: relative;

  .item {
    font-size: 11px;
    line-height: 13px;
    padding-bottom: 10px;
  }

  .field {
    color: $labelColor;
    margin-right: 7px;
  }

  .btn {
    border: none;
    color: $btnCardColor;
    background-color: transparent;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
  }
}
