@import "../../index.scss";

.main {
  width: 513px;
  padding: 13px 45px 25px 36px;
  background-color: $mainBg;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }

  .title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
  }
}
